.wrap {
    float: left;
    width: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    clear: right;

}

.row {
    font-family: 'Playfair Display',
        serif;
    color: #3e978b;

}

.navbar-brand {
    font-family: 'Playfair Display',
        serif;
    background-color: #3e978b;
}

.container .icon {
    position: relative;
    float: right;
    margin-left: 24px;
    margin-top: -28px;
    z-index: 4;
    color: #222222;
}

.container form {
    background-color: white;
    color: #888888;
    text-align: left;
    padding-top: 20px;
}


.page-footer {
    margin-top: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

p {
    color: black;
}

body {
    background-image: url("htthttps://ph-files.imgix.net/651adc69-1ed9-47b3-8f6f-3a83ed0e2322?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=388.7962962962963&h=221&fit=maxps://i.imhttps://i.gifer.com/29ul.gifgur.com/RuJYgPu.gif?noredirect");
}

.footer {}